.footer-container {
    background: url(./footer-img.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.footer-container .footer-center{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.footer-container::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--clr-black-30);
    z-index: -1;
}

.footer-container .footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    font-weight: bold;
    letter-spacing: 1px;
      
}
.footer-container .footer-link{
    color: var(--clr-white);
    transition: var(--transition);
    font-size: 15px;
    
}
.footer-container .footer-link.active, .footer-container .footer-link:hover{
    text-decoration: underline; 
    transition: var(--transition);   
}
.footer-container .social-links img{
    width: 19px;
}
.footer-container .social-links{
    display:flex;
    column-gap: 27px;
    justify-content: center;
    align-items: center;
}
.footer-container .social-links .social-link{
    width: 35px;
    height: 35px;
    border: 2px solid var(--clr-white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container .footer-copyright p{
    text-align: center;
    color: var(--clr-white);
    letter-spacing: 1px;
    text-transform: capitalize;
}
.footer-container .social-links .social-link:hover{
    transition: var(--transition);
    transform: translateY(-3px);
}
@media screen and (min-width:992px){
    .footer-container .footer-link {
        font-size: 18px;
    }
    .footer-container .footer-copyright p{
        font-size: 17px;
    }
}